.a{color: white;
background: black;
margin-top: -11px;
margin-right: -8px;
margin-bottom: -57px;
margin-left: -8px;
padding-top: 37px;
padding-bottom: 32px;
padding-right: 3px;
padding-left: 555px;
font-size: 28px;}

.b{font-size: 15px;
color: lightblue;}

.c{
color: orangered;
background:blueviolet ;
  margin-top: 57px;
  margin-right: -10px;
  margin-bottom: 28px;
  margin-left: -51px;
  padding-top: 21px;
  padding-bottom: 355px;
  padding-right: 225px;
  padding-left: 589px;
  font-size: 30px;
}
.d{
  font-size: 20px;
  margin-top: 3px;
  margin-right: -125px;
  margin-bottom: -460px;
  margin-left: -446px;
  padding-top: 17px;
  padding-bottom: 155px;
  padding-right: 72px;
  padding-left: 35px;
  color: greenyellow;
  background-image:photo-1593955808003-93f6151e6028.jpg ;
  font-style: italic;
}
.e{
font-size: 25px;
background: limegreen;
color: darkblue;
margin-left:-9px ;
margin-right: -6px;
margin-bottom:-41px ;
margin-top: -28px;
padding-left: 550px;
padding-right:74px ;
padding-top: 20px;
padding-bottom: 19px;
}
.f{
font-size: 20px;
margin-left:-8px ;
margin-right:-8px;
margin-bottom:1px;
margin-top:41px;
padding-left: 79px;
padding-right:54px;
padding-top: 18px;
padding-bottom:40px;
background: cyan;
color: teal;
font-style: italic;}
.g{
font-size: 30px;
margin-left:-8px ;
margin-right:-8px;
margin-bottom:-11px;
margin-top:0px;
padding-left: 229px;
padding-right:50px;
padding-top: 9px;
padding-bottom:9px;
background: olive;
color: maroon;
}
.h{
font-size: 20px;
margin-left:-7px ;
margin-right:-9px;
margin-bottom:-21px;
margin-top:11px;
padding-left: 77px;
padding-right:11px;
padding-top: 18px;
padding-bottom:22px;
background: orangered;
color: mintcream;
font-style: italic;}
.i{}





